body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #484744; /* Light orange */
}

h1 {
  margin-bottom: 5px;
  color: #fff;
  font-style:italic;
}
p{
    color: #e2dcdc;
}

form {
  display: inline-block;
  text-align: left;
  max-width: 600px;
  width: 100%;
  background-color: #e5d6cc;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: inline-block;
  width: 120px;
  margin: 8px 0;
  font-weight: bold;
}

input, select, textarea {
  width: 200px;
  padding: 6px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #eee;
}

input::placeholder, textarea::placeholder {
  color: gray;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row div {
  flex: 1;
  margin: 5px;
  min-width: 250px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #f3a20e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #131413;
}
